# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# dockerfile
Dockerfile.dev
Dockerfile.prod
.dockerignore

# config
/config

# misc
.DS_Store
.env.local
.env.development
.env.test
.env.production
.env

npm-debug.log*
yarn-debug.log*
yarn-error.log*
.dccache
.eslintcache
.eslintrc.json

/src/features